<?xml version="1.0"?>

<launch>

    <arg name="goal_Tolerance" value="1"/>

    <node ns="/rover_gazebo_control/controller_1" pkg="rover_gazebo_control" type="gps_p2p_continous1"
          name="gps_p2p_continous1" output="screen"/>

    <param name="/rover_gazebo_control/goalTolerance" value="$(arg goal_Tolerance)" type="double"/>

    <node ns="/rover_gazebo_control/controller_2" pkg="rover_gazebo_control" type="gps_p2p_continous2"
          name="gps_p2p_continous2" output="screen"/>

    <param name="/rover_gazebo_control/goalTolerance" value="$(arg goal_Tolerance)" type="double"/>

    <node ns="/rover_gazebo_control" pkg="rover_gazebo_control" type="control_switcher" name="control_switcher"
          output="screen"/>

</launch>