<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="/use_sim_time" value="true"/>
    <!-- load parameters -->
    <param name="/use_sim_time" value="true"/>
    <include file="$(find rover_desc_pkg)/launch/view_rover_gazebo.launch"/>

    <!-- Launch joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find rover_desc_pkg)/config/joint.yaml"
              command="load" ns="/rover"/>

    <node name="rover_ctrlr_spawner" pkg="controller_manager" type="spawner"
          respawn="false" output="screen" ns="/rover"
          args="rover_joint_state_ctrlr
              front_right_steering_ctrlr
              front_left_steering_ctrlr
              front_right_wheel_ctrlr
              front_left_wheel_ctrlr
              rear_right_wheel_ctrlr
              rear_left_wheel_ctrlr"/>

    <!--     Convert joint states to TF transforms for RViz, etc-->
    <node name="robot_state_publisher" pkg="robot_state_publisher"
          type="robot_state_publisher" respawn="false" output="screen" ns="/rover">
        <remap from="/joint_states" to="/joint_states"/>
    </node>

    <rosparam file="$(find rover_desc_pkg)/config/ackermann_teleop_param.yaml" command="load"/>

    <node name="odometry" pkg="rover_desc_pkg" type="odometry.py" output="screen" required="true"/>

    <node name="move_base_cmd" pkg="rover_desc_pkg" type="move_base_cmd" output="screen" required="true"/>

    <node name="ackermann_gazebo_driver" pkg="rover_desc_pkg" type="ackermann_gazebo_driver" output="screen"
          required="true"/>

</launch>

