<?xml version="1.0"?>
<!-- rover_gazebo_world.launch

Launched simulation world in Gazebo simulation.

Arguments:
  world_name (string, default: worlds/empty.world)
      Gazebo world name
-->

<launch>
    <param name="/use_sim_time" value="true"/>
  <!-- Gazebo parameters -->
  <arg name="world_name" default="empty_world.launch"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="publish_frequency" default="30.0"/>

  <!-- Create an empty world. -->
  <include file="$(find gazebo_ros)/launch/$(arg world_name)">
      <arg name="paused" default="$(arg paused)"/>
      <arg name="use_sim_time" default="$(arg use_sim_time)"/>
      <arg name="gui" default="$(arg gui)"/>
      <arg name="headless" default="$(arg headless)"/>
      <arg name="debug" default="$(arg debug)"/>
  </include>
</launch>
