<?xml version="1.0"?>

<!-- rviz.launch
Launch RViz in the "rover" namespace.

Arguments:
  namespace(string, default: rover)
    rover namespace.
-->

<launch>
  <node name="ackermann_gazebo_driver" pkg="rover_desc_pkg" type="ackermann_gazebo_driver" output="screen"
        required="true"/>
</launch>
