<?xml version="1.0"?>

<!-- rover_arm_gazebo_control.launch

Use Gazebo to simulate a 5 DOF arm.

Arguments:
  namespace (string, default: arm)
    arm namespace.
  world_name (string, default: worlds/empty.world)
      Gazebo world name.
-->

<launch>
  <!-- Gazebo parameters -->
  <arg name="namespace" default="arm"/>
  <arg name="start_plt" default="true"/>

  <!-- Launch the arm -->
  <include file="$(find rover_arm_desc_pkg)/launch/arm.launch">
    <arg name="namespace" value="$(arg namespace)"/>
  </include>

  <!-- Launch Plot Juggler -->
  <node name="plotjuggler" pkg="plotjuggler" type="PlotJuggler" args="--nosplash"
        if="$(eval start_plt)"/>

  <group ns="$(arg namespace)">
    <!-- Launch Gazebo World -->
    <include file="$(find rover_arm_gazebo_control)/launch/rover_arm_gazebo_world.launch"/>

    <!-- Spawn the arm. -->
    <node name="arm_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -param robot_description -model arm
                -gazebo_namespace /$(arg namespace)/gazebo"/>

    <!-- Load the joint controllers. One of these publishes the joint states to joint_states. -->
    <node name="arm_ctrlr_spawner" pkg="controller_manager" type="spawner"
          args="$(find rover_arm_gazebo_control)/config/arm_joint_ctrlr_params.yaml"/>
  </group>
</launch>
