<launch>
    <arg name="model"/>
    <param name="/use_sim_time" value="true"/>

    <!-- Parsing xacro and setting wheel description parameter -->
    <param name="robot_description" command="$(find xacro)/xacro $(find rover_desc_pkg)/urdf/wheel.urdf.xacro"/>

    <!-- Setting gui parameter to true to display joint slider -->
    <param name="use_gui" value="true"/>

    <!-- Launch visualization in rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rover_desc_pkg)/urdf.rviz" required="true"/>

</launch>
