<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Begin - Include -->
  <xacro:include filename="$(find rover_arm_desc_pkg)/urdf/arm_parameters.xacro"/>
  <xacro:include filename="$(find rover_desc_pkg)/urdf/rover_parameters.xacro"/>
  <xacro:include filename="$(find rover_arm_resources_pkg)/urdf/links_joints.xacro"/>
  <!-- End - Include -->

  <!-- Links -->
  <xacro:macro name="arm_link" params="name type parent x_dim y_dim z_dim
               link_xyz link_rpy m file scale joint_xyz joint_rpy axis_xyz
               axis_rpy lim_l lim_u d f">
    <!-- Joint for link movement -->
    <xacro:m_joint_rev name="${parent}__${name}_joint"
                       axis_rpy="${axis_rpy}" axis_xyz="${axis_xyz}"
                       origin_rpy="${joint_rpy}" origin_xyz="${joint_xyz}"
                       parent="${parent}" child="${name}"
                       limit_e="10000.0" limit_l="${lim_l}"
                       limit_u="${lim_u}" limit_v="10"
                       damp="${d}" fric="${f}"/>

    <!-- Link -->
    <xacro:if value="${type == 'cyl_iner'}">
      <xacro:m_link_cylinder_inertia name="${name}"
                                     origin_rpy="${link_rpy}"
                                     origin_xyz="${link_xyz}"
                                     r="${x_dim}"
                                     l="${z_dim}"
                                     m="${m}"/>
    </xacro:if>

    <xacro:if value="${type == 'box_iner'}">
      <xacro:m_link_box_inertia name="${name}"
                                origin_rpy="${link_rpy}"
                                origin_xyz="${link_xyz}"
                                w="${x_dim}"
                                d="${y_dim}"
                                h="${z_dim}"
                                m="${m}"/>
    </xacro:if>

    <xacro:if value="${type == 'mesh'}">
      <xacro:m_link_mesh_box name="${name}"
                             origin_rpy="${link_rpy}"
                             origin_xyz="${link_xyz}"
                             w="${x_dim}"
                             d="${y_dim}"
                             h="${z_dim}"
                             m="${m}"
                             meshfile="${file}"
                             meshscale="${scale}"/>
    </xacro:if>

    <gazebo reference="${name}">
      <material>Gazebo/Silver</material>
      <!-- <turnGravityOff>false</turnGravityOff> -->
    </gazebo>
  </xacro:macro>
</robot>
