<?xml version="1.0"?>

<!--
Use RViz to visualize a rover arm.

Arguments:
  namespace (string, default: arm)
    arm namespace.
-->

<launch>
  <arg name="namespace" default="arm"/>

  <include file="$(find rover_arm_desc_pkg)/launch/arm.launch">
    <arg name="namespace" value="$(arg namespace)"/>
  </include>

  <!-- Read joint positions from a GUI, then publish them to joint_states. -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" ns="$(arg namespace)">
    <param name="rate" value="30.0"/>
  </node>

  <include file="$(find rover_arm_desc_pkg)/launch/rviz.launch">
    <arg name="namespace" value="$(arg namespace)"/>
  </include>
</launch>
