<?xml version="1.0"?>

<!-- rover_with_arm_gazebo_keyboard_ctrl.launch

Use Gazebo to simulate and control a rover with arm with
Ackermann steering using keyboard commands.
(Rover arms can also get controlled uwith MoveIT.)

Arguments:
  namespace (string, default: rover_arm)
    rover_arm namespace.
-->

<launch>
  <arg name="namespace" default="rover_arm"/>
  <arg name="cmd_timeout" default="0.5"/>
  <arg name="node_start_delay" default="5"/>
  <arg name="publish_frequency" default="30.0"/>
  <arg name="linear_velocity" default="10.0"/>
  <arg name="angular_velocity" default="1.3"/>
  <arg name="without_moveit" default="true"/>

  <!-- Launch the Gazebo simulation of the rover. -->
  <include file="$(find rover_with_arm_gazebo_control)/launch/rover_with_arm_gazebo_control.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="start_plt" value="true"/>
    <arg name="without_moveit" value="$(arg without_moveit)"/>
  </include>

  <!-- Control the steering and wheel joints. -->
  <node name="rover_controller" pkg="rover_gazebo_control" type="rover_controller.py"
        output="screen" ns="$(arg namespace)">
    <param name="cmd_timeout" value="$(arg cmd_timeout)"/>
    <param name="publish_frequency" value="$(arg publish_frequency)"/>
    <rosparam file="$(find rover_gazebo_control)/config/rover_ackermann_ctrlr_params.yaml" command="load"/>
  </node>

  <!-- Node to convert /cmd_vel to /ackermann_command -->
  <node name="cmd_vel_to_ackermann_drive" pkg="rover_gazebo_control"
        type="cmd_vel_to_ackermann_drive.py" output="screen" ns="$(arg namespace)"
        launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@'"/>
</launch>
