<?xml version="1.0"?>

<!-- rover_with_arm_gazebo_moveit_keyboard_control.launch

Use Gazebo to simulate a rover with an arm.
Arm trajectory motions are controlled using MoveIT.
Rover gets controlled using keyboard commands.
-->

<launch>
  <!-- Launch Gazebo World -->
  <include file="$(find rover_with_arm_gazebo_control)/launch/rover_with_arm_gazebo_keyboard_ctrl.launch">
    <arg name="without_moveit" value="false"/>
  </include>
</launch>
